# LIVRIA : Recommandation des thèmes et des livres 

C'est dans ce notebook -que l'on peut considérer comme le dernier - que mettons en lumières les recommendations de nos différents modèles

### Import des librairies et des données

In [1]:
from ui import *
livria = Livria()

In [2]:
display_quest()

RadioButtons(description='Renseignez votre sexe', options=('Homme', 'Femme'), value='Homme')

SelectMultiple(description='Sélectionnez les items qui vous définissent le mieux', options=('Calme', 'Intellec…

SelectMultiple(description='Quels sont vos passe-temps ?', options=('Sport', 'Dessin', 'Rien faire', 'Jeux vid…

SelectMultiple(description="Qu'est ce qui vous plaît dans un livre ?", options=('Voyage', 'FacileLire', 'Refle…

In [3]:
livria.enr_crits(s_sexe.value, s_pers.value, s_passe_t.value, s_attentes.value)
livria.car_input

,Agite,Altruiste,Ambitieux,Amusant,Autoritaire,Aventurier,Calme,Connaissance,Consciencieux,Creatif,Cuisine,Curieux,Dessin,Esprit,FacileLire,Geek,Intellectuel,Introverti,Jaloux,Jeux videos,Meditation,Pantouflard,Personnage,Reflechir,Reserve,Rien faire,Sexe,Sociable,Sport,Sportif,Style,Theatre,Tout,Voyage
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [4]:
livria.predict()

**Calculs des prédictions pour ArtsCulture...**
[0]
**Calculs des prédictions pour BdComics...**
[0]
**Calculs des prédictions pour DocMedia...**
[0]
**Calculs des prédictions pour Erotisme...**
[0]
**Calculs des prédictions pour Esoterisme...**
[0]
**Calculs des prédictions pour HistGeo...**
[0]
**Calculs des prédictions pour Jeunesse...**
[0]
**Calculs des prédictions pour LittEtrangere...**
[0]
**Calculs des prédictions pour LoisirVie...**
[0]
**Calculs des prédictions pour Philosophie...**
[0]
**Calculs des prédictions pour RomanFiction...**
[0]
**Calculs des prédictions pour SHS...**
[0]
**Calculs des prédictions pour SanteBE...**
[0]
**Calculs des prédictions pour ScienceTechnique...**
[0]

,ArtsCulture,BdComics,DocMedia,Erotisme,Esoterisme,HistGeo,Jeunesse,LittEtrangere,LoisirVie,Philosophie,RomanFiction,SHS,SanteBE,ScienceTechnique
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
livria.rename()
livria.themes_output

,art,comics,movies,erotica,mystery,historical,childhood,literature,travel,philosophy,fiction,sociology,personal-development,science
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
btags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
5                       1   11743    9954
6                       1   14017    7169
7                       1    5207    6221
8                       1   22743    4974
9                       1   32989    4364
10                      1   27199    3857
11                      1   11590    3456
12                      1   18886    3374
13                      1    6953    2408
14                      1   22753    1881
15                      1   24960    1821
16                      1    1691    1742
17                      1    6857    1560
18                      1   15965    1309
19                      1    6888    1095
20                      1   26785    1093
21                      1    6828    1027
22                      1    2104    1022
23                      1    9221     987
24                      1   20774     984
25                      1    7457     958
26                      1   25765     858
27                      1   15169     853
28                      1    3389     836
29                      1    1128     828
...                   ...     ...     ...
999882           33288638   28838      10
999883           33288638   29125      10
999884           33288638   31545      10
999885           33288638    3389       9
999886           33288638    3371       9
999887           33288638   30521       9
999888           33288638   11595       9
999889           33288638    1659       9
999890           33288638   29316       9
999891           33288638    2138       9
999892           33288638    2541       9
999893           33288638   29401       9
999894           33288638   28420       9
999895           33288638    1060       9
999896           33288638     833       9
999897           33288638   27821       9
999898           33288638    3392       8
999899           33288638   25822       8
999900           33288638     855       8
999901           33288638    5207       7
999902           33288638   28528       7
999903           33288638    2132       7
999904           33288638   17080       7
999905           33288638   29299       7
999906           33288638    2101       7
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

### Affichage des livres

Ici, nous allons crée la fonction permettant d'afficher proprement les livres avec leur page de couverture, le titre l'auteur et la note moyenne. On commence par nettoyer le DataFrame des colonnes d'ont nous n'avons pas besoin ici.

On crée la fonction qui nous permettra d'afficher les livres :

In [7]:
# On teste la fonction
livresMontres = books.loc[books['book_id'].isin([1,9,2])]
show_books(livresMontres) # Elle prend en entrée un dataFrame avec les livres que nous souhaitons afficher

                   Liste des livres qui pourraient vous plaire
               ===================================================

The Hunger Games de Suzanne Collins (2008).     Note moyenne: 4.34/5

Harry Potter and the Philosopher's Stone de J.K. Rowling, Mary GrandPré (1997).     Note moyenne: 4.44/5

Angels & Demons  de Dan Brown (2000).     Note moyenne: 3.85/5

## Préparation et entrainement des données pour la prédiction de thèmes

# Recommandations

## A l'entrée de l'application

Veuillez répondre au questions ci-dessous :

In [8]:
questions()

NameError: name 'questions' is not defined

In [ ]:
def get_recommendations(name,sim):
   # indx=df_book_new.loc[df_book_new['title']==name].index
    indx=book_indices[name]
    sim_scores=list(enumerate(sim[indx]))
    new=sorted(sim_scores,key=lambda x: x[1],reverse=True)
   
    new=new[1:11]
    #print(new)
    book_idx=[x[0] for x in new]
    return (df_book_new['title'].iloc[book_idx])

In [ ]:
sel_m_attentes.value.info()

In [ ]:
book = books.query("book_id == 11")
Image(url= book['image_url'], width=100, height=100)

In [ ]:
total = 0

def doA():
    # not accessing global total
    total = 10

def doB():
    global total
    total = total + 1

def checkTotal():
    # global total - not required as global is required
    # only for assignment - thanks for comment Greg
    print (total)

In [ ]:
doA()
doB()
checkTotal()

In [ ]:
def recommendation(user_id):
    user = book.copy()
    already_read = books_data[books_data['user_id'] == user_id]['book_id'].unique()
    user = user.reset_index()
    user = user[~user['book_id'].isin(already_read)]
    user['Estimate_Score']=user['book_id'].apply(lambda x: algo.predict(user_id, x).est)
    user = user.drop('book_id', axis = 1)
    user = user.sort_values('Estimate_Score', ascending=False)
    print(user.head(10))