# LIVRIA : Recommandation des thèmes et des livres 

C'est dans ce notebook -que l'on peut considérer comme le dernier - que mettons en lumières les recommendations de nos différents modèles

### Import des librairies et des données

In [22]:
from ui import *
livria = Livria()

In [23]:
display_quest()

RadioButtons(description='Renseignez votre sexe', index=1, options=('Homme', 'Femme'), value='Femme')

SelectMultiple(description='Sélectionnez les items qui vous définissent le mieux', index=(5, 13), options=('Ca…

SelectMultiple(description='Quels sont vos passe-temps ?', index=(2, 4, 5), options=('Sport', 'Dessin', 'Rien …

SelectMultiple(description="Qu'est ce qui vous plaît dans un livre ?", index=(0, 5, 6), options=('Voyage', 'Fa…

In [24]:
livria.enr_crits(s_sexe.value, s_pers.value, s_passe_t.value, s_attentes.value)
livria.car_input

,Agite,Altruiste,Ambitieux,Amusant,Autoritaire,Aventurier,Calme,Connaissance,Consciencieux,Creatif,Cuisine,Curieux,Dessin,Esprit,FacileLire,Geek,Intellectuel,Introverti,Jaloux,Jeux videos,Meditation,Pantouflard,Personnage,Reflechir,Reserve,Rien faire,Sexe,Sociable,Sport,Sportif,Style,Theatre,Tout,Voyage
0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,1,1

In [20]:
predict(livria.car_input)
themes_predits

**Calculs des prédictions pour ArtsCulture...**
[0]
**Calculs des prédictions pour BdComics...**
[0]
**Calculs des prédictions pour DocMedia...**
[0]
**Calculs des prédictions pour Erotisme...**
[0]
**Calculs des prédictions pour Esoterisme...**
[0]
**Calculs des prédictions pour HistGeo...**
[0]
**Calculs des prédictions pour Jeunesse...**
[0]
**Calculs des prédictions pour LittEtrangere...**
[1]
**Calculs des prédictions pour LoisirVie...**
[0]
**Calculs des prédictions pour Philosophie...**
[0]
**Calculs des prédictions pour RomanFiction...**
[1]
**Calculs des prédictions pour SHS...**
[0]
**Calculs des prédictions pour SanteBE...**
[0]
**Calculs des prédictions pour ScienceTechnique...**
[0]

,ArtsCulture,BdComics,DocMedia,Erotisme,Esoterisme,HistGeo,Jeunesse,LittEtrangere,LoisirVie,Philosophie,RomanFiction,SHS,SanteBE,ScienceTechnique
0,0,0,0,0,0,0,0,1,0,0,1,0,0,0

,ArtsCulture,BdComics,DocMedia,Erotisme,Esoterisme,HistGeo,Jeunesse,LittEtrangere,LoisirVie,Philosophie,RomanFiction,SHS,SanteBE,ScienceTechnique
0,0,0,0,0,0,0,0,1,0,0,1,0,0,0

In [ ]:
LogisticRegression

### Affichage des livres

Ici, nous allons crée la fonction permettant d'afficher proprement les livres avec leur page de couverture, le titre l'auteur et la note moyenne. On commence par nettoyer le DataFrame des colonnes d'ont nous n'avons pas besoin ici.

In [ ]:
update = wg.interact(enr_crits, sexe=radio_sexe, car=sel_m_car, pt=sel_m_pt, attentes=sel_m_attentes)

update
criteres_entree

On crée la fonction qui nous permettra d'afficher les livres :

In [ ]:
# On teste la fonction
livresMontres = books.loc[books['book_id'].isin([1,9,2])]
show_books(livresMontres) # Elle prend en entrée un dataFrame avec les livres que nous souhaitons afficher

## Préparation et entrainement des données pour la prédiction de thèmes

In [ ]:


criteres_entree

# Recommandations

## A l'entrée de l'application

Veuillez répondre au questions ci-dessous :

In [ ]:
questions()

In [ ]:
def get_recommendations(name,sim):
   # indx=df_book_new.loc[df_book_new['title']==name].index
    indx=book_indices[name]
    sim_scores=list(enumerate(sim[indx]))
    new=sorted(sim_scores,key=lambda x: x[1],reverse=True)
   
    new=new[1:11]
    #print(new)
    book_idx=[x[0] for x in new]
    return (df_book_new['title'].iloc[book_idx])

In [ ]:
sel_m_attentes.value.info()

In [ ]:
book = books.query("book_id == 11")
Image(url= book['image_url'], width=100, height=100)

In [ ]:
total = 0

def doA():
    # not accessing global total
    total = 10

def doB():
    global total
    total = total + 1

def checkTotal():
    # global total - not required as global is required
    # only for assignment - thanks for comment Greg
    print (total)

In [ ]:
doA()
doB()
checkTotal()

In [ ]:
def recommendation(user_id):
    user = book.copy()
    already_read = books_data[books_data['user_id'] == user_id]['book_id'].unique()
    user = user.reset_index()
    user = user[~user['book_id'].isin(already_read)]
    user['Estimate_Score']=user['book_id'].apply(lambda x: algo.predict(user_id, x).est)
    user = user.drop('book_id', axis = 1)
    user = user.sort_values('Estimate_Score', ascending=False)
    print(user.head(10))