# LIVRIA : Recommandation des thèmes et des livres 

C'est dans ce notebook -que l'on peut considérer comme le dernier - que mettons en lumières les recommendations de nos différents modèles

### Import des librairies et des données

In [7]:
from ui import *

In [9]:


def enr_crits (sexe, car, pt, attentes): 
    criteres_entree = pd.DataFrame([np.zeros((34), dtype=int)], columns=criteres)
    # On enregistre les valeurs :
    if ('Homme' == sexe):
        criteres_entree['Sexe'] = 1
    else:
        criteres_entree['Sexe'] = 0
        
    for c in cars:
        if (c in car):
            criteres_entree[c] = 1
        else:
            criteres_entree[c] = 0
    for p in pts:
        if (p in pt):
            criteres_entree[p] = 1
        else:
            criteres_entree[p] = 0
    for att in atts:
        if (att in attentes):
            criteres_entree[att] = 1
        else:
            criteres_entree[att] = 0
        # On return les valeurs renseignées
    criteres_entree=criteres_entree.sort_index(axis=1)
    return criteres_entree
    
radio_sexe = wg.RadioButtons(options=['Homme', 'Femme'], description='Renseignez votre sexe')
sel_m_car = wg.SelectMultiple(options=cars, description='Sélectionnez les items qui vous définissent le mieux', disabled=False)
sel_m_pt = wg.SelectMultiple(options=pts, description='Quels sont vos passe-temps ?', disabled=False)
sel_m_attentes = wg.SelectMultiple(options=atts, description="Qu'est ce qui vous plaît dans un livre ?", disabled=False)  
wg.interact(enr_crits, sexe=radio_sexe, car=sel_m_car, pt=sel_m_pt, attentes=sel_m_attentes)

interactive(children=(RadioButtons(description='Renseignez votre sexe', options=('Homme', 'Femme'), value='Hom…

In [3]:
predict(criteres_entree)

**Calculs des prédictions pour ArtsCulture...**
[0]
**Calculs des prédictions pour BdComics...**
[0]
**Calculs des prédictions pour DocMedia...**
[0]
**Calculs des prédictions pour Erotisme...**
[0]
**Calculs des prédictions pour Esoterisme...**
[0]
**Calculs des prédictions pour HistGeo...**
[0]
**Calculs des prédictions pour Jeunesse...**
[0]
**Calculs des prédictions pour LittEtrangere...**
[0]
**Calculs des prédictions pour LoisirVie...**
[0]
**Calculs des prédictions pour Philosophie...**
[0]
**Calculs des prédictions pour RomanFiction...**
[1]
**Calculs des prédictions pour SHS...**
[0]
**Calculs des prédictions pour SanteBE...**
[0]
**Calculs des prédictions pour ScienceTechnique...**
[0]

In [4]:
themes_predits

,ArtsCulture,BdComics,DocMedia,Erotisme,Esoterisme,HistGeo,Jeunesse,LittEtrangere,LoisirVie,Philosophie,RomanFiction,SHS,SanteBE,ScienceTechnique
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [5]:
LogisticRegression

sklearn.linear_model.logistic.LogisticRegression

### Affichage des livres

Ici, nous allons crée la fonction permettant d'afficher proprement les livres avec leur page de couverture, le titre l'auteur et la note moyenne. On commence par nettoyer le DataFrame des colonnes d'ont nous n'avons pas besoin ici.

In [6]:
update = wg.interact(enr_crits, sexe=radio_sexe, car=sel_m_car, pt=sel_m_pt, attentes=sel_m_attentes)

update
criteres_entree

interactive(children=(RadioButtons(description='Renseignez votre sexe', options=('Homme', 'Femme'), value='Hom…

,Agite,Altruiste,Ambitieux,Amusant,Autoritaire,Aventurier,Calme,Connaissance,Consciencieux,Creatif,...,Reserve,Rien faire,Sexe,Sociable,Sport,Sportif,Style,Theatre,Tout,Voyage
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

On crée la fonction qui nous permettra d'afficher les livres :

In [7]:
# On teste la fonction
livresMontres = books.loc[books['book_id'].isin([1,9,11])]
show_books(livresMontres) # Elle prend en entrée un dataFrame avec les livres que nous souhaitons afficher

                   Liste des livres qui pourraient vous plaire
               ===================================================

The Hunger Games de Suzanne Collins (2008).     Note moyenne: 4.34/5

Angels & Demons  de Dan Brown (2000).     Note moyenne: 3.85/5

The Kite Runner  de Khaled Hosseini (2003).     Note moyenne: 4.26/5

## Préparation et entrainement des données pour la prédiction de thèmes

In [8]:


criteres_entree

,Agite,Altruiste,Ambitieux,Amusant,Autoritaire,Aventurier,Calme,Connaissance,Consciencieux,Creatif,...,Reserve,Rien faire,Sexe,Sociable,Sport,Sportif,Style,Theatre,Tout,Voyage
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Recommandations

## A l'entrée de l'application

Veuillez répondre au questions ci-dessous :

In [9]:
questions()

NameError: name 'questions' is not defined

In [ ]:
def get_recommendations(name,sim):
   # indx=df_book_new.loc[df_book_new['title']==name].index
    indx=book_indices[name]
    sim_scores=list(enumerate(sim[indx]))
    new=sorted(sim_scores,key=lambda x: x[1],reverse=True)
   
    new=new[1:11]
    #print(new)
    book_idx=[x[0] for x in new]
    return (df_book_new['title'].iloc[book_idx])

In [ ]:
sel_m_attentes.value.info()

In [ ]:
book = books.query("book_id == 11")
Image(url= book['image_url'], width=100, height=100)

In [ ]:
def recommendation(user_id):
    user = book.copy()
    already_read = books_data[books_data['user_id'] == user_id]['book_id'].unique()
    user = user.reset_index()
    user = user[~user['book_id'].isin(already_read)]
    user['Estimate_Score']=user['book_id'].apply(lambda x: algo.predict(user_id, x).est)
    user = user.drop('book_id', axis = 1)
    user = user.sort_values('Estimate_Score', ascending=False)
    print(user.head(10))